/* Default colors themes vars */

:root {

    --mint: rgb(185, 255, 248);
    --teal: rgb(111, 237, 214);
    --orange: rgb(255, 149, 81);
    --red: rgb(255, 74, 74)
}




/* Remove padding and margin for default styles */ 


*
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
    border:2px solid red;
    background-color:var(--mint);
}

.ticTacToeGridContainer {
    display: grid;
    grid-template-columns: repeat( 3, minmax(3rem, 5rem) );
    grid-template-rows: repeat( 3, minmax(3rem, 5rem) );
    justify-content: center;
    
}

.ticTacToeGridContainer p{

    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 4rem;
    
}

/************HEADER************/

.headerTitleContainer{

    background-color: var(--mint);

    display:flex;
    justify-content: center;
    font-size: 1.5rem !important;
    
}

.headerTitleContainer h1 {
color: rgb(5, 62, 91);
    background-color: var(--mint);
}

.newGameButton {

    display: flex;
    justify-content: center;
    padding: 1rem;
}

.newGameButton button{

    display: flex;
    justify-content: center;
    padding:.5rem;
    border: 2px solid rgb(88, 56, 53);
    font-size: 1.5rem;
    color: rgb(48, 36, 11);
    background-color: var(--orange);
}

/**********Player names config container**********/

article.playerNamesConfigContainer {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.playerNameInputs {

    display: grid;
    grid-template-columns: 1fr;
    
    
}



.gameNumberChoiceStartNewGame {
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startGameButton {

    margin:.5rem;
    padding:.3rem;
}

.player1XorO {
    padding:.1rem;
    display:flex;
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    
}

.player2XorO {
    
    padding:.1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    
}

.p1XorOChoice{

    display: flex;
    align-items: center;
    
}

.p2XorOChoice {
    display: flex;
    align-items: center;

}



