/* Default colors themes vars */

:root {

    --mint: rgb(185, 255, 248);
    --teal: rgb(111, 237, 214);
    --orange: rgb(255, 149, 81);
    --red: rgb(247, 127, 127);
}




/* Remove padding and margin for default styles */ 


*
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
    
    background-color:var(--mint);
}

.ticTacToeGridContainer {
    display: grid;
    grid-template-columns: repeat( 3, minmax(3rem, 5rem) );
    grid-template-rows: repeat( 3, minmax(3rem, 5rem) );
    justify-content: center;
    padding-top:0rem;
    
}

.ticTacToeGridContainer p{

    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 4rem;
    background-color:rgb(169, 247, 208)
}

.ticTacToeGridContainer > p {

    border:3px solid green;
    
}

/************HEADER************/

.headerTitleContainer{

    background-color: var(--red);
    padding-top:2rem;
    padding-bottom:.5rem;
    display:flex;
    justify-content: center;
    font-size: 1.8rem !important;
    
}


.headerTitleContainer h1 {
color: rgb(5, 62, 91);
    background-color: var(--red);
}

.newGameButton {

    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.newGameButton button{

    display: flex;
    justify-content: center;
    padding:.5rem;
    border: 2px solid rgb(88, 56, 53);
    font-size: 1.5rem;
    color: rgb(48, 36, 11);
    background-color: var(--orange);
}

/********** Player names config container **********/

article.playerNamesConfigContainer {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid teal;
    padding:1rem;
    margin:.5rem;

}



.playerNameInputs > div {

    padding:1rem;
}

.player1Inputs {

    padding-bottom: 1rem;
}

.player2Inputs {

    padding-bottom:1rem;
}

.gameNumberChoiceStartNewGame {
    padding:0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.startGameButton {
    background-color: orange;
    font-size: 1rem;
    margin:2rem;
    padding:.3rem;
    border: 2px solid rgb(88, 56, 53);
    
    
}

.player1XorO {
    padding:.1rem;
    display:flex;
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    
    
}

.player2XorO {
    
    padding:.1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    
}

.p1XorOChoice{

    display: flex;
    align-items: center;
    
}

.p2XorOChoice {
    display: flex;
    align-items: center;

}

label  {
    
    font-size:1.5rem;
}

div input {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    border:2px solid var(--red);
}

div label {

    display:flex;
    justify-content: center;
}

input[type='radio']{

    border: 0px;
    height: 1.2rem;
    width: 1.5rem;
    accent-color: var(--orange);
}

.player1XorO > label {
margin-top: 1rem;
    border-bottom: 3px solid rgb(51, 0, 255);
}

.player2XorO > label {
margin-top:1rem;
    border-bottom: 3px solid rgb(51, 0, 255);
}

.numberOfRoundsChoice {

margin-bottom:.5rem;


}

/* restart Game button*/

.restartGameButton {
    display: flex;
    justify-content: center;
    padding:.5rem;
    border: 2px solid rgb(88, 56, 53);
    font-size: 1.5rem;
    color: rgb(48, 36, 11);
    background-color: var(--orange);
    

}

.restartButtonContainer {

    display: flex;
    justify-content: center;
    padding:1rem;
}

/* Player scoreboard container */

.playerScoreBoard {
display: flex;
justify-content: space-around;
border:2px solid rgb(4, 227, 134);
padding-left: .5rem;
padding-right: .5rem;
padding-top: 1rem;
padding-bottom: 1rem;



}

.playerScoreBoard > div {

    border:2px solid green;
    padding:.5rem;
}

.playerScoreBoard div :first-child {

    border-bottom: 2px solid blue;
    font-size: 1.2rem;
    
}

.playerScoreBoard p {
    padding:1rem
}


/*******Player Turn Indicator *********/

.playerTurnIndicator {

    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    margin-left:.5rem;
    margin-right: .5rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    font-size: 2rem;

}

.gameResultsDisplay {

    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: space-around;
    align-items: center;
    padding:.5rem;
    
}











